
  html.dark {
    background-color: #333333;
    color: #ffffff;
    h3{
      color: #ffffff;
    }
    --el-fill-color-blank: #333333;
    --el-text-color-primary:#ffffff;
    --el-text-color-secondary: #ffffff;
    --el-text-color-regular:#ffffff;
    --el-border-color-light: #6a6a6a;
    --el-border-color: #6a6a6a;
    .el-dropdown-menu{
      background-color: #333333;
    }
    .dark-img-bg {filter:brightness(0.2) saturate(1.25)}
    .love-btn{color: #333333 !important;}
    .el-card__body {
      background-color: #2a2a2a !important; 
      }
    .replay-title {
      background-color: #6a6a6a;
    }
    .el-message-box{
      background-color: #6a6a6a;
    }
  }